[Desktop Entry]
Name=CloudyDesk
NoDisplay=true
MimeType=x-scheme-handler/cloudydesk;
TryExec=cloudydesk
Exec=cloudydesk %u
Icon=cloudydesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=cloudydesk
