html {
    background-color: transparent;
}

body {
    overflow: hidden;
}

@media platform != "OSX" {
    body {
        border-top: color(border) solid 1px;
    }
}

.title {
    font-size: 1.4em;
}

.app {
    size: *;
}

.lighter-text {
    color: color(lighter-text);
    font-size: 0.9em;
}

.left-pane {
    width: *;
    height: *;
    background: color(bg);
    padding-bottom: 60px; /* Space for connect-status */
}

.left-pane > div:nth-child(1) {
    border-spacing: 1em;
    padding: 20px;
}

.left-pane div {
  word-wrap: break-word;
}

.your-desktop {
    border-spacing: 0.5em;
    border-left: color(accent) solid 2px;
    padding-left: 0.5em;
}

.your-desktop input[type=text] {
    padding: 0;
    border: none;
    height: 1.5em;
}

.your-desktop > div {
    color: color(light-text);
}

div.connect-status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: color(border) solid 1px;
    width: 100%;
    padding: 1em;
    background: color(bg);
}

div.connect-status > span.connect-status-icon {
    border-radius: 4px;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 1em;
}

div.connect-status > span.link {
  margin-left: 1em;
  display: inline-block;
}

span.connect-status-1 {
    background: #e04f5f;
}

span.connect-status1 {
    background: #32bea6;
}

span.connect-status0 {
    background: #F5853B;
}

div.install-me {
    padding: 1px;
    color: white;
    background: linear-gradient(left,#e242bc,#f4727c);
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    border-top: color(border) solid 1px;
    padding: 1em;
}
#install-me.link {
    margin-top: 0.5em;
}



.install-me .button {
    height: 1em;
    line-height: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border-color: white;
    border: 1px;
    background: none;
    color: white;
}